# Replace with your Your Solana wallet secret key
SECRET_KEY=[]
# Replace with your Quicknode Solana Mainnet RPC endpoint
SOLANA_ENDPOINT=https://your-solana-mainnet-rpc-endpoint.quiknode.pro/abc123/
# Replace with your Quicknode Jupiter API endpoint (or a public one: https://www.jupiterapi.com/)
METIS_ENDPOINT=https://jupiter-swap-api.quiknode.pro/abc123/
